<div class="footer">
  <div class="footer-column">
    <h2>Contactanos</h2>
    <div class="information">
      <h3>Dirección:</h3>
      <h3>Calle 123 #45-67, Oficina 890</h3>
      <h3>Medellín, Antioquia, Colombia</h3>
    </div>
    <div class="information">
      <h3>Teléfono:</h3>
      <h3>+57 123 456 7890</h3>
    </div>
    <div class="information">
      <h3>Correo Electrónico:</h3>
      <h3>info&#64;conexemi.co</h3>
    </div>
  </div>

  <div class="footer-column">
    <h2>Conex EMI</h2>
    <p><a routerLink="" (click)="scrollTo('inicio')">Inicio</a></p>
    <p><a routerLink="" (click)="scrollTo('nosotros')">Nosotros</a></p>
    <p><a routerLink="/entrepreneurship">Emprendimientos</a></p>
    <p><a routerLink="/login">Ingresar</a></p>
  </div>

  <div class="footer-column">
    <div class="logo-title">
      <img src="LogoBlanco.png" alt="Logo" class="logo1">
      <img src="NombreBlanco.png" alt="Logo" class="logo2">
    </div>
  </div>
</div>