<header class="header">
  <div class="logo-title">
    <img src="Logo.png" alt="Logo" class="logo">
    <img src="Nombre.png" alt="Logo" class="logo">
  </div>

  <nav class="nav">
    <ul>
      <li><a href="">Inicio</a></li>
      <li><a href="">Nosotros</a></li>
      <li><a href="">Emprendimientos</a></li>
      <li><a href="">Contacto</a></li>
    </ul>
  </nav>

  <button class="login-button" routerLink="/login">Ingresar</button>
</header>

<div class="divider">
  <h1>Categorias</h1>
  <h1>Emprendedores en Acción</h1>
  <button  routerLink="/createPublication">Crear publicación</button>
</div>

<router-outlet></router-outlet>