<header class="header" id="inicio">
    <div class="logo-title" routerLink="" (click)="scrollTo('inicio')">
        <img src="Logo.png" alt="Logo" class="logo">
        <img src="Nombre.png" alt="Nombre" class="logo">
    </div>

    <nav class="nav">
        <ul>
            <li><a routerLink="" (click)="scrollTo('inicio')">Inicio</a></li>
            <li><a routerLink="" (click)="scrollTo('nosotros')">Nosotros</a></li>
            <li><a routerLink="/entrepreneurship">Emprendimientos</a></li>
            <li><a routerLink="" (click)="scrollTo('contacto')">Contacto</a></li>
        </ul>
    </nav>
    <button class="login-button" routerLink="/login">Ingresar</button>
</header>

<router-outlet></router-outlet>