<p class="comment">Conozca los últimos emprendimientos ...</p>
<div class="emprendimientos-container" *ngIf="entrepreneurships.length > 0">
  <div *ngFor="let entrepreneurship of entrepreneurships" class="emprendimiento">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ entrepreneurship.entrepreneurshipName || 'Nombre no disponible' }}</mat-card-title>
        <mat-card-subtitle>{{ entrepreneurship.user }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>Dirección: {{ entrepreneurship.address }} - {{ entrepreneurship.nameCity }}</mat-card-content>
      <mat-card-content>
        <p>
          {{ entrepreneurship.entrepreneurshipDescription }}
        </p>
      </mat-card-content>
      <mat-card-content class="category-text">
        <p>
          {{ entrepreneurship.nameCategories.length === 1 ? 'Categoría' : 'Categorías' }}:
          <b>{{ entrepreneurship.nameCategories.join(', ') | replaceUnderscore }}</b>
        </p>
      </mat-card-content>
      <mat-card class="image-card">
        <img mat-card-image *ngIf="entrepreneurship.image" [src]="entrepreneurship.image"
          alt="{{ entrepreneurship.entrepreneurshipName }}">
      </mat-card>
      <mat-card-actions class="actions">
        <!-- Reacciones y comentarios -->
        <app-reaction [idEntrepreneurship]="entrepreneurship.idEntrepreneurship"
          [likes]="entrepreneurship.likes"></app-reaction>
        <!-- Botón de Comentarios -->
        <div class="action-group">
          <button mat-mini-fab>
            <mat-icon>comment</mat-icon>
          </button>
          <span class="counter"></span> <!-- Contador de Comentarios -->
        </div>
      </mat-card-actions>
      <app-comments [idEntrepreneurship]="entrepreneurship.idEntrepreneurship" (commentAdded)="loadComments()"></app-comments>

      <!-- Iterar sobre los comentarios -->
      <div *ngFor="let comment of entrepreneurship.comments" class="comment-card">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>{{ comment.user }}</mat-card-subtitle>
            <mat-card-subtitle class="card-date">{{ comment.commentDate }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="comment-description">
              {{ comment.commentDescription }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>