.comment {
  font-family:  "Josefin Sans", sans-serif;
  font-size: 18px;
}

.emprendimientos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f2f5;
}

.emprendimiento {
  padding: 10px;
  width: 100%;
  max-width: 800px;
  transition: transform 0.2s;
}

.emprendimiento:hover {
  transform: scale(1.02);
}

/* nuevos estilos */

.actions {
  margin-left: 14px;
  margin-top: 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.counter {
  font-size: 16px;
  color: #6c757d;
}

.example-header-image {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3541/3541871.png');
  background-size: cover;
}

.card-date {
  margin-top: 4px;
  font-size: 14px;
  color: #6c757d;
}

.comment-description {
  margin-top: 0px;
}

.category-text {
  margin-bottom: 16px;
}

.image-card{
  margin-left: 16px;
  margin-right: 16px;
}

.action-group {
  display: flex;
  align-items: center;
  gap: 8px;
}