<p class="comment">Conozca los últimos emprendimientos ...</p>

<div class=".entrepreneurship-container" *ngIf="entrepreneurships.length > 0">
  <div *ngFor="let entrepreneurship of entrepreneurships" class="entrepreneurship">
    <mat-card appearance="outlined">

      <!-- Encabezado: Imagen / Nombre emprendimiento / User -->
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ entrepreneurship.entrepreneurshipName || 'Nombre no disponible' }}</mat-card-title>
        <mat-card-subtitle>{{ entrepreneurship.user }}</mat-card-subtitle>
      </mat-card-header>

      <!-- Categorias del emprendimiento -->
      <mat-card-content>
        <p class="text-gray">
          {{ entrepreneurship.nameCategories.length === 1 ? 'Categoría' : 'Categorías' }}:
          <span style="color: black;"><b>{{ entrepreneurship.nameCategories.join(', ') | replaceUnderscore }}</b></span>
        </p>
      </mat-card-content>

      <!-- Descripcion del emprendimiento -->
      <mat-card-content>
        <p>
          {{ entrepreneurship.entrepreneurshipDescription }}
        </p>
      </mat-card-content>

      <!-- Direccion del emprendimiento -->
      <mat-card-content>
        <p class="text-gray">
          Dirección: {{ entrepreneurship.address }} - {{ entrepreneurship.nameCity }}
        </p>
      </mat-card-content>

      <!-- Imagen del emprendimiento -->
      <mat-card class="image-card">
        <img mat-card-image *ngIf="entrepreneurship.image" [src]="entrepreneurship.image"
          alt="{{ entrepreneurship.entrepreneurshipName }}">
      </mat-card>

      <!-- Acciones del emprendimiento -->
      <mat-card-actions class="actions">

        <!-- Reacciones -->
        <app-reaction [idEntrepreneurship]="entrepreneurship.idEntrepreneurship" [reaction]="entrepreneurship.totalReactions">
          {{entrepreneurship.totalReactions }}
        </app-reaction>

        <!-- Comentarios -->
        <div class="action-group">
          <button mat-mini-fab>
            <mat-icon>comment</mat-icon>
          </button>
          <span class="counter">{{entrepreneurship.totalComments }}</span>
        </div>

      </mat-card-actions>

      <!-- Listado de comentarios del emprendimiento -->
      <app-comments 
        [idEntrepreneurship]="entrepreneurship.idEntrepreneurship"
        [comments]="entrepreneurship.comments">
      </app-comments>

      <!-- Iterar sobre los comentarios -->
      <div *ngFor="let comment of entrepreneurship.comments">
        <mat-card>

          <!-- Comentario: Imagen / User / Fecha -->
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>{{ comment.user }}</mat-card-subtitle>
            <mat-card-subtitle class="card-date">{{ comment.commentDate }}</mat-card-subtitle>
          </mat-card-header>

          <!-- Descripcion de comentario -->
          <mat-card-content>
            <p class="comment-description">
              {{ comment.commentDescription }}
            </p>
          </mat-card-content>

        </mat-card>
      </div>

    </mat-card>
  </div>
</div>

<!-- Mostrar mensaje si no hay emprendimientos -->
<div *ngIf="entrepreneurships.length === 0" class="comment">
  <p>No existen emprendimientos.</p>
</div>

  <router-outlet></router-outlet>