.comments {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.comments h4 {
  margin: 0 0 10px;
  color: #333;
}

.comment {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.add-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-comment input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-comment button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.add-comment button:hover {
  background-color: #0056b3;
}

.send-button {
  height: 37px;
  min-width: 120px;
  font-size: 18px;
  padding: 10px 20px;
}

.send-button mat-icon {
  font-size: 24px;
  margin-right: 10px;
}