.category-list a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  cursor: pointer;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
}


.category-list a:hover {
  background-color: #ddd;
  color: black;
}

.category-list a.active {
  background: linear-gradient(98deg, #509FEB 0%, #24243E 20%, #509FEB 98%);
  color: white;
}

.icon-with-text {
  display: flex;
  align-items: center;
}

.icon-with-text i {
  margin-right: 8px;
  min-width: 24px;
  text-align: center;
}