<app-header></app-header>

<div class="divider"></div>

<section class="carousel-container">
    <img src="carousel.jpg" alt="carousel" class="carousel">
</section>

<section id="nosotros" class="us">.
    <h2>Nosotros</h2>
    <p class="us-text">
        En CONEX EMI, creemos firmemente en el poder transformador de la colaboración y la innovación. Nuestro proyecto
        surge con la misión de conectar a emprendedores, inversores, mentores y organizaciones dentro de un ecosistema
        dinámico y vibrante que fomente el crecimiento y el éxito de nuevas ideas y negocios. <br><br>
        A través de nuestra plataforma, facilitamos la creación de redes sólidas y efectivas que impulsan el desarrollo
        de emprendimientos en Colombia. Ofrecemos herramientas y recursos que permiten a los emprendedores encontrar
        socios estratégicos, acceder a financiamiento, y recibir mentoría de expertos en diversas industrias. <br><br>
        Nuestra visión es convertirnos en el punto de encuentro principal para el ecosistema emprendedor en Colombia,
        promoviendo una cultura de colaboración y apoyo mutuo que transforme ideas innovadoras en realidades exitosas.
        <br><br>
        Nos guiamos por valores fundamentales como la innovación, la colaboración, el compromiso y la transparencia,
        actuando siempre con integridad y claridad en todas nuestras interacciones.
    </p>
</section>

<section class="slogan">
    <img src="union.jpg" alt="union" class="union">
    <p>
        Únete a nosotros y sé parte de una comunidad que está transformando el futuro del emprendimiento en Colombia.
    </p>
</section>

<section class="Testimonies">
    <h1>Testimonios</h1>
    <div>
        <p>"Gracias a CONEX EMI, encontré el mentor perfecto para mi startup. Su apoyo ha sido invaluable para nuestro
            crecimiento."</p>
        <img src="ana.jpg" alt="Foto de Ana Gómez">
        <p>Ana Gómez</p>
    </div>
    <div>
        <p>"La plataforma de CONEX EMI me permitió conectar con inversores clave que creyeron en mi proyecto desde el
            primer día."</p>
        <img src="carlos.jpg" alt="Foto de Carlos Martínez">
        <p>Carlos Martínez</p>
    </div>
    <div>
        <p>"La comunidad de CONEX EMI es increíblemente solidaria. He recibido tanto apoyo y consejos útiles que han
            impulsado mi negocio."</p>
        <img src="maria.jpg" alt="Foto de María Fernández">
        <p>María Fernández</p>
    </div>
    <div>
        <p>"CONEX EMI es una herramienta esencial para los emprendedores en Colombia. Su red de contactos y recursos es
            impresionante."</p>
        <img src="juan.jpg" alt="Foto de Juan Pérez">
        <p>Juan Pérez</p>
    </div>
</section>

<div id="contacto">
    <app-footer></app-footer>
</div>


<router-outlet></router-outlet>