body {
  font-family:  "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px);
  margin-top: 80px;
}

.sidebar {
  width: 260px;
  background-color: white;
  color: #333;
  padding-top: 20px;
  position: fixed;
  top: 150px;
  left: 0;
  height: calc(100% - 150px);
  overflow-y: auto;
  border-right: 1px solid #B0B0B2; 
}

.content {
  margin-left: 260px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  margin-top: 80px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
  }
}

/* Estilos para el scrollbar de la sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del track del scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb del scrollbar */
  border-radius: 4px; /* Bordes redondeados */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb del scrollbar al pasar el mouse */
}

/* Estilos para el scrollbar del content */
.content::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del track del scrollbar */
}

.content::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb del scrollbar */
  border-radius: 4px; /* Bordes redondeados */
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb del scrollbar al pasar el mouse */
}