* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: linear-gradient(98deg, #509FEB 0%, #24243E 20%, #509FEB 98%);
  width: 100%;
  margin-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000
}

.divider h1,
.divider button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: white;
  margin: 0px 40px;
}

.divider button {
  background-color: #24243E;
  color: white;
  border: none;
  padding: 5px 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 80px;
}

.sidebar {
  width: 300px;
  background-color: white;
  color: #333;
  padding-top: 40px;
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  overflow-y: auto;
  border-right: 1px solid #B0B0B2;
  border-left: 1px solid #B0B0B2;
}

.content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

app-footer {
  background-color: #f1f1f1;
  text-align: center;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
  }
}


/* Estilos para el scrollbar de la sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px;
  /* Ancho del scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del track del scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del thumb del scrollbar */
  border-radius: 4px;
  /* Bordes redondeados */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del thumb del scrollbar al pasar el mouse */
}

/* Estilos para el scrollbar del content */
.content::-webkit-scrollbar {
  width: 8px;
  /* Ancho del scrollbar */
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del track del scrollbar */
}

.content::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del thumb del scrollbar */
  border-radius: 4px;
  /* Bordes redondeados */
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del thumb del scrollbar al pasar el mouse */
}